*{

}
#header{
  height:50px;
  border-bottom-style: solid;
  border-bottom-width: medium;;
}
#header h1{
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  padding-top: 10px;
}
#menu{
  height: 20px;
  text-align: center;
}
#menu li{
  display: inline;
}
#menu a{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
#Description h2{
  font-size: 25px;
  font-weight: 100;
}
#Description p{
  font-size: 15px;
}
#History h2{
  font-size: 25px;
  font-weight: 100;
}
#History h4 {
  font-size: 15px;
  font-weight: bold;;
  text-decoration: underline;
}
#History p, a{
  font-size: 15px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
}
